SUPABASE_URL=https://nqoxfnofeoaltjxilkmv.supabase.com
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5xb3hmbm9mZW9hbHRqeGlsa212Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcwMzc1MTQsImV4cCI6MjA5MjYxMzUxNH0.8Fk-SwMssXld-UPuiTO9B7ljeZKQDYgjUDWdr-rJXpc
DOMAIN=tempemail25.chickenkiller.com
